/*  global css file */
@import "tailwindcss";


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: inherit;
  }
  button {
    background-color: #f9f9f9;
  }
}
